<div class="bg-singin"></div>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post" action="/registrarse">
    <h3>SingUp Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Nickname" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="planePasword">

    <label for="password">Date</label>
    <input type="date" placeholder="Password" id="password" name="date">

    <button>SingUp</button>
</form>


</div>