<div class="drivcreate">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="/drivers/create" method="POST" class="createform">
                <h1>Nuevo Piloto</h1>
                <hr>
                <div class="mb-1 mt-5">
                    <label for="drivername" class="form-label">Name</label>
                    <input type="text" class="form-control" id="drivername" name="name">
                </div>

                <div class="mb-1">
                    <label for="driveDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="driveDate" name="date">
                </div>

                <div class="mb-1 ">
                    <label for="driverTeam" class="form-label">Team</label>
                    <input type="text" class="form-control" id="driverTeam" name="team">
                </div>

                <div class="mb-1 ">
                    <label for="driverImg" class="form-label">Url Img</label>
                    <input type="text" class="form-control" id="driverImg" name="img">
                </div>

                <button type="submit" class="btn btn-dark">Crear Piloto</button>
            </form>

        </div>
    </div>



</div>