<div class="bg">
    <div class="bg-singin"></div>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="form-home">
        <h3>F1!</h3>
        <a href="/drivers"><button>Watch Drivers</button></a>
        <a href="/inicio-sesion"><button>LogIn</button></a>



    </div>
</div>
</div>