<div class="profile">


</div>


<div class="bg-singin"></div>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post" action="/registrarse" class="form-perfil">
    <h1>Bienvenido, {{user.username}}</h1>



</form>
</div>